.accountOverviewGraph {width:100%;height:90px;}
.budgetOverviewGraph {width:100%;height:90px;}
.targetOverviewGraph {width:100%;height:180px;}
.showTransactions {cursor:pointer;}

.loading {background:url('/img/ajax-loader.gif') center center no-repeat;}
.load_error {background:url('/img/icons/error.png') center center no-repeat;}

#compareContent {min-height:60px;}
#basicChart {height:300px;}

.budgetProgressChart {width:100%;border:1px #aaa solid;height:200px;}
.piechart {height:280px;}

.closed_target td {text-decoration: line-through !important;}

.bootstrap-tagsinput {width:90%;}